body{
	background-color: rgb(230, 230, 230);
	color: rgb(30, 30, 30);
	font-family: 'Lora', serif;
	font-size: 18px;
}

h1, h2, a{
	font-family: 'Roboto', sans-serif;
}

h1{
	color: #0A2540;
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 5px;
}

h2{
	font-size: 24px;
	font-weight: lighter;
}

h2, a{
	color: #9b70f2;
}

a{
	text-decoration: none;
	font-weight: 900;
	font-size: 16px;
	transition: color 0.3s ease;
}

a:hover{
	color: black;
}

.container {
	width: 700px;
	margin: 10px auto;
}

@media(max-width: 768px){
	.container{
		width: 500px;
	}
}

@media(max-width: 576px){
	.container{
		width: 300px;
	}
}

.card-white{
	background: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
	max-width: 200px;
}

.btn-purple {
	background-color: #9b70f2;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	transition: color 0.3 ease;
}

.btn-purple:hover{
	background-color: black;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
	color: rgb(230, 230, 230);
}
.list-inline i:hover {
	color: black;
}
#intro p{
	margin-bottom: 40px;
}



